<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>climb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>climb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>didle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>djump.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>dwalk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>idle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,326},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{222,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,322}}</string>
                <key>sourceSize</key>
                <string>{222,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>afroman.png</string>
            <key>size</key>
            <string>{1794,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b134214cff7649e6fd726f9b0793d5:2fea816c90162c56b80ff70c506c0674:5463a7f4dd62a2f98b14e6cea9df12d9$</string>
            <key>textureFileName</key>
            <string>afroman.png</string>
        </dict>
    </dict>
</plist>
