<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Background</key>
		<dict>
			<key>height</key>
			<integer>326</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>326</integer>
			<key>originalWidth</key>
			<integer>3355</integer>
			<key>width</key>
			<integer>3355</integer>
			<key>x</key>
			<integer>48</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>climb1</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb2</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>226</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb3</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>450</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb4</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>674</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb5</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>898</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb6</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>1122</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb7</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>1346</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>climb8</key>
		<dict>
			<key>height</key>
			<integer>322</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>322</integer>
			<key>originalWidth</key>
			<integer>222</integer>
			<key>width</key>
			<integer>222</integer>
			<key>x</key>
			<integer>1570</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>idle</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>1794</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>jump</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2017</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk1</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2240</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk2</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2463</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk3</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2686</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk4</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2909</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk5</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>3132</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>walk6</key>
		<dict>
			<key>height</key>
			<integer>321</integer>
			<key>offsetX</key>
			<integer>0</integer>
			<key>offsetY</key>
			<integer>0</integer>
			<key>originalHeight</key>
			<integer>321</integer>
			<key>originalWidth</key>
			<integer>221</integer>
			<key>width</key>
			<integer>221</integer>
			<key>x</key>
			<integer>2017</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>326</integer>
		<key>width</key>
		<integer>3355</integer>
	</dict>
</dict>
</plist>
